[Unit]
Description=River (Wayland compositor)
Documentation=man:river(1)
BindsTo=river-session.target
Wants=river-session-pre.target
After=river-session-pre.target
Before=river-session.target
Before=mako.service

[Service]
Type=notify
ExecStart=/usr/local/bin/river-run
ExecStopPost=/usr/local/bin/river-stop
NotifyAccess=all

[Install]
WantedBy=river-session.target
