#window {
    font-family: 'Iosevka Nerd Font Mono';
    font-size: 12pt;

    background-color: rgba(0, 0, 0, 0);
}

#input {
    border: 2px solid #263973;
    border-radius: 5;

    background-color: #0d1326;
    color: #8c9fd9;

    padding: 4px;
}

#scroll {
    border: 2px solid #263973;
    border-top: 0px;
    border-radius: 5;

    background-color: #060a13;
}

#text {
    color: #8c9fd9;
}

#text:selected {
    color: #ffffff;
}

#entry:selected {
    background-color: #263973;
}

